/*1. bandpage
	-home, about, gig sched, contact, blog, gallery.

2. fight team website
    - home, contact, about, fighters, training, 	*/



/*.jumbotron {
  background-image:url("capstone1pics/hendrixbw.jpg");
  height: 90em;
  background-repeat: no-repeat;
  background-size: auto 100%;


}*/

